body {
	background-image:url("../img/bg.png");
}

.main {
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-radius: 10px;
	margin-left: 15%;
	margin-right: 15%;
}

.header {
	border-radius: 10px;
	background-color: #666;
}

.header h1 {
	text-align: center;
	font-family: 'Open Sans';
	color: white;
	font-size: 50px;
}

.content {
	height: 84%;
}

nav {
	height: 95%;
	border-radius: 10px;
	background-color: #00FF00;
	float: left;
}

.text {
	float: center;
	height: 95%;
	border-radius: 10px;
	background-color: #00FFFF;
	font-family: 'Open Sans';
}

.text h1 {
	text-align: center;
	font-family: 'Open Sans';
	font-size: 35px;
}
